<tr align="center">

  <td class ='allign-middle'><%= badge.title %> </td>
  <td><%= badge.rule %> </td>
  <td class ='allign-middle'><%= image_tag("#{badge.image_url}")%> </td>
  </td><%= link_to 'Back', admin_badges_path %></td>

</tr>
