<h1> The <%= @test_passage.test.title %> Test was completed </h1>
<% if @test_passage.success? %>
 <p style = "color:#00ff00"> <%= @test_passage.success_rating %>%,  Great result </p>

 <% else %>
<p style = "color:#ff0000"> <%= @test_passage.success_rating %>%,  not your day </p>.

<% end %>
</p>
