<footer class = "footer navbar-fixed-bottom">
	<div class = "container">
		<nav>
			<ul>
				<li> <%= current_year%>, <%=my_name%>, <%=thinknetica%>, <%=github_link(my_git, my_repo) %> </li> 
			</ul>
		</nav>
	</div>
</footer>